<div class="diplayed_comment" id="comment-<%= comment._id%>">
  <div class="left_container">
    <a href="/users/profile?id=<%=comment.user._id%>">
      <h4><%=comment.user.name%>:</h4>
    </a>

    <p><%=comment.comment%></p>
  </div>

  <div class="comment_delete_container">
    <div class="like_btn_container">
      <a
        class="toggle-like-button"
        data-likes="<%= comment.likes.length %>"
        href="/likes/toggle?id=<%=comment._id%>&type=Comment"
      >
        <i id="Comment-<%=comment._id%>" class="fa-regular fa-heart"></i>

        <span style="margin: 0 10px 0 -8px"><%=comment.likes.length%></span>
      </a>
    </div>
    <% if(locals.user && locals.user.id == comment.user.id || locals.user &&
    locals.user.id == i.user.id){%>
    <div class="comment_delete_btn_conatiner">
      <a
        class="comment_delete_link"
        href="/comments/destroy?id=<%=comment._id%>"
      >
        <img
          width="100%"
          height="100%"
          src="https://cdn-icons-png.flaticon.com/512/2976/2976286.png"
          alt=""
        />
      </a>
    </div>
    <%}%>
  </div>
</div>

