<% for( i of posts){%>

<div class="single_post_container" id="post-<%= i._id %>">
  <a href="/users/profile?id=<%=i.user._id%>">
    <h4><%=i.user.name %></h4>
  </a>

  <% if(locals.user && locals.user.id == i.user.id){%>
  <div class="Post_delete_btn">
    <a class="Post_delete_btn_link" href="/posts/destroy?id=<%=i._id%>">
      <img
        width="100%"
        height="100%"
        src="https://cdn-icons-png.flaticon.com/512/484/484611.png"
        alt=""
      />
    </a>
  </div>
  <%}%>

  <hr />
  <p><%=i.content %></p>
  <hr />
  <div class="post_img_container">
    <div class="like_btn_container">
      <% if(locals.user){%>
      <a
        class="toggle-like-button"
        data-likes="<%= i.likes.length %>"
        href="/likes/toggle?id=<%=i._id%>&type=Post"
      >
      
        <i id="like-<%=i._id%>" class="fa-regular fa-heart"></i>

        <p><%=i.likes.length%></p>
      </a>
      <%}else{%>  
        <a
        class="toggle-like-button-only"
        data-likes="<%= i.likes.length %>"
        href="/users/login"
      >
      
        <i id="like-<%=i._id%>" class="fa-regular fa-heart"></i>

        <p><%=i.likes.length%></p>
      </a>
        <%}%>  

    </div>
    <img
      class="comment_icon"
      src="https://cdn-icons-png.flaticon.com/512/1380/1380338.png"
      alt=""
      width="100%"
      height="100%"
    />
    <p id="comments-length-<%=i._id%>"><%=i.comments.length%></p>
  </div>
  <div class="comment_form_container">
    <form
      id="post-<%= i._id%>-comments-form"
      action="/comments/createComment"
      method="post"
    >
      <input name="comment" width="100%" type="text" required />
      <input name="post" value="<%=i._id%>" type="hidden" required />
      <% if(locals.user){%>

      <button type="submit">Add</button>
      <%}else{%>
        <a href="/users/login">
        <button type="button">Add</button>
      </a>
        <%}%>
    </form>
  </div>

  <hr />
  <h3 id="comments_header">Comments:-</h3>
  <!-- _comment partials added -->
  <div class="Comments_outer_container">
    <div id="post-comments-<%= i._id %>">
      <% for( comment of i.comments){%> 
        
        <%- include('./__comment') %> 
        
        <%}%>
    </div>
  </div>
</div>

<%}%>

<script src="<%=assetPath('js/home_comment.js')%>"></script>



woooooohhhhhhhhhhhhuuuuuuuuuuuuuuuuuu