<link rel="stylesheet" href="<%=assetPath('css/header.css')%>" />

<nav id="nav">
  <div class="logo">
    <a href="/">
      <h3>Social Book</h3>
    </a>
  </div>
  <div id="dropDown_icon">
    <i class="fa-solid fa-bars"></i>
  </div>
  <div id="list_container">
    <ul id="dropDown_list">
      <li>
        <a href="/"> Home</a>
      </li>

      <% if(locals.user) {%>
      <li>
        <a href="/users/profile?id=<%-user.id%>"> Profile</a>
      </li>
      <li id="friend_li">
        <a href="/users/friends?id=<%-user.id%>"> Friends</a>
      </li>
      <li>
        <a href="/users/logout"> Logout</a>
      </li>
      <li>
        <a href="/users/profile?id=<%-user.id%>"> <%-user.name%></a>
      </li>
      <%}else{ %>
      <li>
        <a href="/users/login"> Login</a>
      </li>
      <li>
        <a href="/users/signup"> Register</a>
      </li>
      <%} %>
    </ul>
  </div>
</nav>
<script src="<%=assetPath('js/header.js')%>"></script>
