<link rel="stylesheet" href="/css/home.css" />

<div id="home_page_full_container">
  <main>
    <section>
      <% if(locals.user) {%>

      <form id="addPost_form" action="/posts/create" method="post">
        <textarea
          id="post_textarea"
          placeholder="Type here..."
          name="content"
          cols="30"
          rows="3"
          required
        ></textarea>
        <button type="submit">Post</button>
      </form>
      <%} %>
    </section>

    <section id="post_list_container" class="posts_Conatiner">
      <!-- _post partials added -->

      <%- include("./__post") %>
    </section>
  </main>
  <aside class="friends_list_container">
    <h3>Friends</h3>
    <ul>
      <% for(let i of allUsers){%>
      <li><a href="/users/profile?id=<%=i._id%>"><%=i.name%></a></li>
      <%}%>
    </ul>
  </aside>
</div>
<div>
  <%if(locals.user){%>
  <%- include('_chat.ejs'); %>
  <%}%>

</div>

<script src="/js/home_post.js"></script>

<script src="js/toggle_likes.js"></script>
<script>
  $(".toggle-like-button").each(function () {
    let self = this;
    let toggleLike = new ToggleLike(self);
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
<script src="/js/chatEngine.js"></script>
<%if(locals.user){%>
<script>
  new chatEngine("chat_box", "<%=locals.user.email%>", "<%=locals.user.name%>");
</script>
<%}%>
