<link rel="stylesheet" href="/css/user_profile.css" />

<div class="outer_container">
  <div class="profile_container">
    <div class="img">
      <!-- <img
        src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png"
        alt=""
      /> -->

      <% if (profileUser.avatar) { %>
      <img width="100%" src="<%= user.avatar%>" alt="<%= user.name%>" />
      <%} else { %>
      <img
        width="100%"
        src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png"
        alt="<%= user.name%>"
      />
      <% } %>
    </div>
    <div class="name"><%=profileUser.name%></div>
    <div class="email"><%=profileUser.email%></div>

    <% if(user.id == profileUser.id) {%>
    <div class="btn_container">
      <button id="profile_edit_btn">Edit</button>
    </div>
    <%}%>
    <form
      id="profile_edit_form"
      action="/users/update?id=<%-profileUser.id%>"
      method="post"
      enctype="multipart/form-data"
    >
      <span id="preview_container">
        <div>
          <img id="preview_img" src="" alt="Preview img" />
          <button id="preview_img_submit">Submit</button>
        </div>
      </span>
      <div>
        <label for="avator">Profile Picture</label>
        <input id="avator" type="file" name="avatar" />
      </div>
      <div>
        <label for="name">Name</label>
        <input id="name" type="text" name="name" required />
      </div>
      <div>
        <label for="email">Email</label>
        <input id="email" type="email" name="email" required />
      </div>

      <button type="submit">Submit</button>
    </form>
  </div>

  <script src="/js/userProfile.js"></script>
</div>
